@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #15202B;
  font-family: 'Roboto', sans-serif;
  color: #CCCCCC;
  display: flex;
  justify-content: center;
}

.compose-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  /* justify-content: center; */
  width: 600px;
  height: 180px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
}
.msg-wrapper {
  display: flex;
  justify-content: center;
  
}
.compose-from-area {
  width: 500px;
  height: 115px;
  margin: 20px 0 0px 16px;
  font-size: 16px;
  color: #CCCCCC;
  background-color: #15202B;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}
.compose-from-area::placeholder {
  color: #CCCCCC;
}
.bottom-input {
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
  align-items:center;
  
}
.compose-from-submit-true {
  margin: 0 10px 20px 0;
  border-radius: 4px;
  background-color: #007BFF;
  width: 70px;
  height: 35px;
  padding: 0;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.compose-from-submit-false {
  margin: 0 10px 20px 0;
  border-radius: 4px;
  background-color: #007BFF;
  width: 70px;
  height: 35px;
  padding: 0;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.5;
}
.compose-footer {
  display: flex;
  flex-direction: row;
}
.error-true {
  color: #721C24;
  padding: 4px;
  font-size: 16px;
  width: 340px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #dab8bb;
  background-color: #F8D7DA;
  margin: 0 150px 0 15px;
  opacity: 0;
  
}
.error-false {
  color: #721C24;
  padding: 4px;
  font-size: 16px;
  width: 340px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #dab8bb;
  background-color: #F8D7DA;
  margin: 0 150px 0 15px;
  
}
.timeline {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.msg-wrapper {
  display: flex;
  width: 600px;
  flex-direction: column;
  /* justify-self: center; */
  background-color: #343A40;
  border-radius: 6px;
  margin: 5px;
}
.msg {
  width: 600px;
  height: 100px;
}
.msg-header {
  color: #6C757D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px 15px 20px;
}
.msg-content {
  margin: 0 20px 20px 20px;
}
.navbar {
  display: flex;
  width: 1000px;
  height: 60px;
  background-color: #343A40;
  border-radius: 6px;
}
.nav-item {
  margin: 20px;
  text-decoration: none;
  color: #fff;
}
.active {
  color: #fffb00;
	animation: fade 1500ms;
}

@keyframes fade {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}